.link {
    display: inline-block;
    color: var(--cor-p1);
    font:
        500 1.5rem/1.5 "Poppins",
        sans-serif;
    text-transform: uppercase;
}

.link::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: currentColor;
}

.link:hover {
    color: var(--cor-0);
}
